*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(32,32,32);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 120px;
}
.item{
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    font-size: 18px;
}
.item:hover{
    cursor: pointer;
    color: blue;
}
.banner-img{
    width: 400px;
}
.banner-container{
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(45deg,rgb(8,8,8),rgb(53,53,53));
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    margin: 15px 0;
    font-size: 18px;
    /* width: 50%s; */
}
.btn{
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    /* cursor: url('./logo/logo2.png'),auto; */
    cursor:grab;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px 0 0 0;
}
.about-info{
    max-width: 600px;
}
.about-title{
    text-align: center;
    padding: 20px 0 0 0;
}
.box{
    width: 200px;
    height: 350px;
    box-shadow: 14px 14px 15px grey;
    text-align: center;
    background-color: black;
    padding: 15px;
    color: white;

}
.icon{
    width: 100px;
}
.box-btn{
    background-color: grey;
    margin: 10px 0 0 0;
}
.box-title{
    padding: 10px;

}
.box-description{
    padding: 5px;
}
.sevice-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(32,32,32);
}
.service-title{
    background-color: rgb(32,32,32);
    color: white;
}